:root {
    --teal: #3a5e6e;
    --dark-blue: #1b1d2d; 
    --slate-grey: #617373;
    --light-grey: #bbbbbb;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;

}

#name { 
    text-transform: capitalize;
}

h1#role { 
    font-size: 32px;
    font-weight: 500;
}

h3 { 
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 0.25rem;
}

a {
    text-decoration: none;
    color: inherit;
}

img.profile-photo {
    object-fit: cover;
    object-position: top;
    border: white solid 0.5em;
    border-radius: 50%;
    display: block;
}
.header-side-container>img{
    object-fit: cover;
    object-position: top;
}
.image-container {
    margin: 1em;
    display: block;
    justify-items: center;
}
.header-side-container { 
    color: white;
    background-color: var(--teal);
    border-end-end-radius: 16px;
}

.header-grid-container { 
    display: grid;
    grid-template-columns: 1fr 70%;
    grid-template-areas: 
        "sidebar content"
        "title title"
/*         "skills education"
        "skills summary" */
}

/* Barra de Navegação */
nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: white;
    background-color: var(--dark-blue);
    font-size: 1.75em;
    font-weight: 600;
}
nav * {
    margin : 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    list-style: none;
    align-self: stretch;
}
nav>a.brand {
    padding: 0 2em;
}
nav>a {
    padding: 2rem;
}
nav>a:hover {
    color: rgb(190, 190, 190);
    background-color: #444b4b48;
}

/* Barra Lateral (foto e habilidades) */
.header-side-container {
    order: 1;
    padding-bottom: 3em;
}
.header-side-container>img{
    object-fit: cover;
    object-position: top;
}
.image-container {
    margin: 1em;
    display: block;
    justify-items: center;
}
img.profile-photo {
    width: 164px;
    aspect-ratio: 1/1;
}
ul.skill-list {
    padding: 0 2em;
    list-style: none;
}
ul.skill-list>li {
    cursor: pointer;
    font-weight: 600;
    border-bottom: solid .12em #ffffff62;
    margin: 0.25em 0;
    padding: 0.25em;
}
ul.skill-list>li:hover {
    color: #444b4b;
    background-color: #ffffff62;;
    transition: all ease-in 0.25s;
    border-radius: 4px;
}
ul.skill-list>li:active {
    color: #f2f2f2; 
    background-color: rgb(65, 69, 82);
}
.contact-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0.5em;
    font-weight: 700;
    gap: 16px;
}
.contact-list a.contact-link{
    color:white;
    text-decoration: none;
    gap: 4px;
    display: flex;
    align-items: center;
}
.contact-list a.contact-link:hover{
    color: grey;
    transition: all ease-in 0.12s;
}

.icon {
    height: 24px;
}
svg.icon {
    stroke: white;
}

/*Cabeçalho (nome, profissão, educação e resumo)*/
.header-content-container { 
    order:2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}
/* Nome e Profissão */
.name-role {
    color: white;
    background-color: var(--dark-blue);
    text-align: center;
}

.name-role #name { /* Nome */
    font-size: 48px;
    font-weight: 700;
}

.name-role #role { /* Profissão */
    margin:0;
}


/* Formação*/
.education { 
    margin: 0;
    padding: 1em 0;
    text-align: center;
    color: white;
    background-color: var(--slate-grey);
}

.education #course, #timespan { /* Nome do Curso, Tempo */
    font-size: 1.25rem;
    font-weight: 750;
}

.education h3 {
    margin: 0;    
}

.education ul.education-list { 
    list-style: none;
}
.education ul.education-list li {
    font-size: 1.25rem;
    text-align: center
}

p.summary {
    text-align: justify;
    font-style: italic;
    color: grey;
    padding: 0 4em;
    font-size: 22px;
    font-weight: 600;
}

.main-content-container {
    order: 3;
    grid-column-start: 1;
    grid-column-end: -1;
}

ul.previous-list {
    margin: 0 6em;
    list-style: none;
    text-align: justify;
}
.previous-list .previous-header-container {
    color: var(--light-grey);
    font-weight: 700;
    font-size: 22px;

}

.previous-list .previous-header-container .previous-header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.previous-header-top {
    border-bottom: solid 0.15em var(--light-grey);
}

.previous-header-top *:first-child {
    color: black;
}

.previous-container ul, .previous-container p {
    font-size: 18px;
}

.previous-container p {
    text-indent: 2em;
}

.previous-container p:last-child {
    padding-bottom: 4em;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-content-container {
    padding: 1.5em 0;
    color: white;
    background-color: var(--teal);
}

.footer-content-container ul {
    display: flex; 
    flex-direction: row; 
    list-style: none;
    align-content: center;;
    justify-content: space-evenly;
}
.footer-content-container ul li {
    font-size: 24px;
    font-weight: 600;
    align-self: center;
}